* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input {
    background-color: white;
    /* border: 2px solid white; */
    border-radius: 20px;
    position: relative;
    display: flex;
    height: auto;
    display: flex;
    gap: 0 22px;
    justify-content: space-around;
    align-items: stretch;
    padding: 50px;
}

.inputNP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px 0;
}

.inputNumber_Title {
    margin-bottom: 5px;

    color: darkslategray;
}

.inputNumber {
    font-size: 16px;
    padding: 8px 0;
    outline: none;
    border: 4px solid #fff;
    background-color: #f3f8fb;
    border-radius: 7px;
}

.inputNumber:focus {
    border: 4px solid #9fe8df;
}

.inputPeople_Title {
    margin-bottom: 5px;
    font-size: 12px;
    color: darkslategray;
}

.inputPeople {
    font-size: 16px;
    padding: 8px 0;
    outline: none;
    border: 4px solid #fff;
    background-color: #f3f8fb;
    border-radius: 7px;
}

.inputPeople:focus {
    border: 4px solid #9fe8df;
}

.buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-gap: 4px;
    align-items: center;
}

.button {
    border-radius: 3px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: darkslategray;
    padding: 12px 4px;
}

.button:hover {
    background-color: #9fe8df;
    color: #00474d;
}

.inputCustom {
    padding: 8px 4px;
    width: auto;
    display: inline-block;
}

.output {
    background-color: #00474b;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.output div {
    color: white;
    font-size: 16px;
}

.output_total {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    gap: 12px 0;
}

.tipAmount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 52px;
}

.tipAmount_Title p {
    font-weight: 400;
    font-size: 14px;
}

.tipAmount_Title small {
    color: #738788;
    font-size: 12px;
}

.output_disp1 {
    color: lightblue;
    font-size: 26px;
}

.output_disp2 {
    color: lightblue;
    font-size: 20px;
}

.output_button {
    width: 100%;
}

.output_button_details {
    width: 100%;
    padding: 12px;
    background-color: lightblue;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.output_button_details:hover {
    background-color: #9fe8df;
}

@media only screen and (max-width: 600px) {
    .input {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;
        width: 90%;
        gap: 16px 0;
        margin: 0 auto;
    }

    .buttons {
       grid-template-columns: 50% 50%;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .button {
        margin-top: 10px;
    }

    .inputNumber_Title {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .inputNumber {
        margin-left: 5px;
        margin-bottom: 0px;
    }

    .inputPeople_Title {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .inputPeople {
        margin-left: 5px;
    }

    .output {
       gap: 18px 0;
    }
}
